{{- if .Site.Params.widgets.blogroll }}
<div class="widget-blogroll blogroll">
	<h4 class="widget-blogroll__title widget__title">Blogroll</h4>
	<div class="widget-blogroll__content widget__content">
		{{ range .Site.Params.widgets.blogroll.custom }}
		<div class="widget-blogroll__item widget__item">
			<a class="widget-blogroll__link widget__link btn" title="{{ .title }}" rel="noopener noreferrer" href="{{ .url }}" target="_blank">
				{{- if .icon }}
					{{ partial .icon (dict "class" "widget-blogroll__link-icon") }}
				{{- end }}
				<span>{{ .title }}</span>
			</a>
		</div>
		{{ end }}
	</div>
</div>
{{- end }}